<div class="contact-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Contact Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>If you have any questions or need support, feel free to reach out:</p>
        <ul>
          <li>Email: <a href="mailto:photohub@gmail.com"> photohub&#64;gmail.com</a></li>
          <li>Social Media: Connect with us on our social media platforms.</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  