.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
  }
  
  .navbar-nav .nav-link {
    margin-left: 15px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    color: blueviolet;
  }
  a {
    color: blueviolet;
  }
  .navbar-nav {
    color: blueviolet;
  }
  .collapse  ul li a{
    color: blueviolet;
    
  }
  .container-fluid .navbar-brand {
    color: #f39c12;
  }
  .active{
    font-size: 18px;
    font-weight: bold;
}
