<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PhotoHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/userlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/albums/album-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Contact-us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>