.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
  }
  
  mat-card {
    width: 100%;
    max-width: 800px;
    padding: 16px;
  }
  
  .home-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .link-card {
    flex: 1 1 calc(33% - 16px);
    text-align: center;
    padding: 16px;
    cursor: pointer;
  }
  
  .link-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: 0.3s;
  }
  
