<div class="home-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome to PhotoHub</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="home-links">
          <mat-card class="link-card" routerLink="/albums/album-list">
            <mat-card-title>Albums</mat-card-title>
            <mat-card-subtitle>Explore and organize photo albums.</mat-card-subtitle>
          </mat-card>
          <mat-card class="link-card" routerLink="/users/userlist" >
            <mat-card-title>Users</mat-card-title>
            <mat-card-subtitle>Browse user profiles and collections.</mat-card-subtitle>
          </mat-card>
          <mat-card class="link-card" routerLink="/photo/photos">
            <mat-card-title>Photos</mat-card-title>
            <mat-card-subtitle>View and manage individual photos.</mat-card-subtitle>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  