.mat-toolbar {
  margin: 0px;
  width: auto;
  margin-bottom: 10px;
  background: #7224a3
}

mat-form-field {
  padding: 5px;
}

.mat-toolbar {
  margin: 0px;
  width: auto;
  margin-bottom: 10px;
}

mat-form-field {
  padding: 5px;
}

.spacer {
  flex: 1 1 auto;
}
