.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
    background-color: #7224a3;
  }
  
  mat-card {
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #7224a3;
    padding: 16px;
  }
  