<div class="about-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>About PhotoHub</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Welcome to PhotoHub! We are your go-to platform for exploring, sharing, and managing photos. Whether you want to 
          create albums, browse user collections, or find inspiration, PhotoHub is here to provide a seamless experience. 
          Our mission is to bring people together through the power of photography.
        </p>
        <p>
          At PhotoHub, creativity meets functionality. Start your journey with us today and become a part of a vibrant 
          community of photo enthusiasts!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  