.photo-detail-card {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.mat-toolbar {
  margin: 0px;
  width: auto;
  margin-bottom: 10px;
  background: #7224a3
}

mat-form-field {
  padding: 5px;
  width: 50%;
}

.mat-toolbar {
  margin: 0px;
  width: auto;
  margin-bottom: 10px;
}

mat-form-field {
  padding: 5px;
}

.spacer {
  flex: 1 1 auto;
}