<mat-toolbar color="primary">
  <mat-toolbar-row fxLaout="row">
    <span>View Photo details</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">

  <mat-card class="photo-detail-card">
    <form [formGroup]="updateForm">
      <mat-form-field appearance="outline">
        <mat-label>Photo Id</mat-label>
        <input matInput formControlName="id" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Album Id</mat-label>
        <input matInput formControlName="albumId" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image Url</mat-label>
        <input matInput formControlName="url" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Thumbnail Url</mat-label>
        <input matInput formControlName="thumbnailUrl" readonly>
      </mat-form-field>
    </form>


  </mat-card>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button (click)="updatePhoto()" style="background: #7224a3" [disabled]="updateForm.invalid">
      update
  </button>
  <button mat-raised-button mat-dialog-close style="background: #7224a3">
      Close
  </button>
</mat-dialog-actions>