.register-container {
    background-color: #7224a3;
}

.register-card {
    background: #e1a3f5;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;

}

h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.form-group {
    width: 48%;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #007bff;
}

small {
    color: red;
    font-size: 0.8rem;
    display: block;
    margin-top: 0.5rem;
}

.btn-register {
    background-color: #7224a3;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
}

.btn-register:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    color: #7224a3;
    text-decoration: underline;
}