
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/p1.jpg" class="d-block w-100" alt="First Slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Discover Stunning Albums</h3>
        <p>Browse through a diverse collection of albums crafted by users worldwide.</p>
        <button class="google-btn" routerLink="/authentication/login">Sign in to continue..</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/p2.jpg" class="d-block w-100" alt="Second Slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Effortless Photo Editing</h3>
        <p>Edit and enhance your favorite photos with intuitive tools at your fingertips</p>
        <button class="google-btn" routerLink="/authentication/login">Sign in to continue..</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/p3.jpg" class="d-block w-100" alt="Third Slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Connect and Share Moments</h3>
        <p>Create meaningful connections by sharing your best moments with others</p>
        <button class="google-btn" routerLink="/authentication/login">Sign in to continue..</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- <div class="landing-container">
  <div class="landing-content">
    <h1>Welcome to PhotoHub</h1>
    <p>Explore, share, and edit photos from various albums. Sign in to get started.</p>
    <button class="google-btn">Sign in with Google</button>
  </div>
</div> -->
<!-- (click)="signInWithGoogle()"  -->